@import "typography.css";
@import "variables.css";

/* Browser overrides */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  appearance: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  font-family:
    "Modern Era",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

/* Style guide */
p,
a {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-text-body);
  margin: 0;
}

h1 {
  font-size: 68px;
  font-weight: 700;
  line-height: 78px;
  color: var(--color-white);
  margin-top: 0;
  margin-bottom: 16px;
}

h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 74px;
  color: var(--color-white);
  margin-top: 0;
  margin-bottom: 32px;
}

h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  color: var(--color-primary);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 16px;
}

/** Helpers **/
.flex-layout {
  display: flex;
  justify-content: space-between;
}

.flex-col {
  flex: 0 1 45%;
}

.two-column-layout {
  columns: 2 400px;
  column-gap: 4em;
}

.inline-link {
  color: var(--color-secondary);
}

.inline-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.section-content {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1134px;
}

.section {
  padding: var(--padding-section-desktop) var(--main-side-padding);
}

.section-black {
  background: var(--color-black);
}

.section-grey {
  background: var(--color-grey);
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--color-white);
  opacity: 0.1;
  margin: 0;
}

.text-center {
  text-align: center;
}

.button-link {
  padding: 24px 48px;
  color: var(--color-white);
  background: var(--color-button);
  border-radius: 42px;
}

.button-link:hover {
  background: var(--color-button-hover);
}

/** Header **/
.header {
  padding: 0 var(--main-side-padding);
  height: 80px;
  background: var(--color-black);
  display: flex;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iden3-logo {
  position: absolute;
  left: 0;
}

.header-nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav-link-container {
  margin: 0 20px;
}

.header-nav-link {
  letter-spacing: 0.02em;
}

.header-nav-link-active {
  pointer-events: none;
}

.header-nav-link:hover,
.header-nav-link-active {
  color: var(--color-white);
}

.mobile-menu-button {
  display: none;
}

.mobile-menu-button:hover rect {
  fill: var(--color-white);
}

/** Hero **/
.section-hero {
  padding-top: 184px;
  padding-bottom: 256px;
}

.hero-content {
  max-width: 540px;
}

.hero-title {
  margin-bottom: 16px;
}

/** Small features **/
.small-feature-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 88px;
}

.small-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-feature-text {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-top: 32px;
  text-align: center;
}

/** Features **/
.feature:not(:last-of-type) {
  margin-bottom: 56px;
}

.feature:not(:first-of-type) {
  margin-top: 56px;
}

.feature p:not(:last-of-type) {
  margin-bottom: 24px;
}

/** Checklist **/
.checklist {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.checklist-item {
  display: flex;
  align-items: flex-start;
  page-break-inside: avoid;
}

.checklist-item-bullet {
  margin-right: 16px;
  margin-top: 4px;
}

.checklist-item:not(:last-of-type) {
  margin-bottom: 16px;
}

.checklist:not(:last-of-type) {
  margin-bottom: 24px;
}

/** Footer **/
.footer-content {
  display: flex;
  justify-content: center;
  color: var(--color-white);
}

.footer-col {
  max-width: 490px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
}

.footer-cta {
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  margin: 0;
  text-align: left;
}

.footer-link-group {
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-link-group:not(:last-of-type) {
  margin-bottom: 16px;
}

.footer-link-header {
  margin-top: 0;
  margin-bottom: 2px;
  color: var(--color-white);
}

.footer-link {
  color: var(--color-white);
  text-decoration: underline;
}

.footer-link:hover {
  color: var(--color-text-body);
}

.footer-text {
  color: var(--color-white);
}

.zero-kims-logo {
  height: 32px;
  margin-bottom: 8px;
}

/* Mobile menu */
.mobile-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.mobile-menu-content {
  position: relative;
  top: 64px;
  left: 20px;
}

.mobile-menu a {
  font-size: 28px;
  line-height: 38px;
  padding: 8px;
  margin-bottom: 16px;
  display: block;
}

.mobile-menu a:hover,
.mobile-menu a:focus {
  color: #f1f1f1;
}

.close-button {
  background: transparent;
  display: flex;
  align-items: center;
  padding: 4px;
}

.close-button:hover rect {
  fill: var(--color-white);
}

@media only screen and (max-width: 848px) {
  .section {
    padding: var(--padding-section-mobile) var(--main-side-padding);
  }

  .section.section-hero {
    padding-top: 286px;
    padding-bottom: 40px;
  }

  .flex-layout {
    flex-direction: column;
  }

  .header-content {
    justify-content: flex-end;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu-button {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 4px;
  }

  .button-link {
    padding: 16px 32px;
  }

  .small-feature-list {
    margin-top: 48px;
    flex-direction: column;
  }

  .small-feature {
    margin-bottom: 48px;
  }

  .small-feature-text {
    margin-top: 24px;
  }

  .feature:not(:last-of-type) {
    margin-bottom: 40px;
  }

  .feature:not(:first-of-type) {
    margin-top: 40px;
  }

  .feature p:not(:last-of-type) {
    margin-bottom: 16px;
  }

  .checklist:not(:last-of-type) {
    margin-bottom: 32px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-cta {
    text-align: center;
  }

  .footer-link-group {
    align-items: center;
  }

  .footer-col:not(:first-child) {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 510px) {
  p,
  a {
    font-size: 16px;
    line-height: 24px;
  }

  h1 {
    font-size: 33px;
    line-height: 38px;
    margin-bottom: 8px;
  }

  h2 {
    font-size: 31px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 8px;
  }

  .iden3-logo {
    height: 32px;
  }

  .header {
    height: 64px;
  }

  .footer-cta {
    font-size: 28px;
    line-height: 33px;
  }
}
