/** Hero **/
.hero-bg {
  background: url("../img/iden3-hero.jpg");
  background-position: bottom;
  background-size: cover;
}

.iden3-hero-title {
  margin-top: 64px;
}

.iden3-hero-description {
  margin-bottom: 78px;
}

/** Privacy for all **/
.privacy-description {
  margin-bottom: 56px;
}

.privacy-description p:first-of-type {
  margin-bottom: 24px;
}

/** Future-proof tech stack for self-sovereign identity **/
.feature-checklist {
  margin-top: 24px;
}

.features-button-container {
  margin-top: 72px;
  display: flex;
  justify-content: center;
}

/** Powerful language to build zero-knowledge circuits: Circom 2.0 **/
.circom-button-container {
  margin-top: 56px;
  display: flex;
  justify-content: center;
}

/** Intuitive identity control **/
.identity-wallet-image-container {
  display: flex;
  justify-content: center;
  margin-top: 56px;
  margin-bottom: calc(var(--padding-section-desktop) * -1);
}

@media only screen and (max-width: 848px) {
  .hero-bg {
    background: url("../img/iden3-hero-mobile.jpg");
    background-position: center;
    background-size: cover;
  }

  .iden3-hero-description {
    margin-bottom: 0;
  }

  .identity-wallet-image-container {
    margin-bottom: calc(var(--padding-section-mobile) * -1);
  }
}
